.pyuser/
.pytest_cache/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Node and UI Build Files
node_modules/
.npm-cache/
dist/
build/
.env

# Python virtual environments
venv/
.venv/
env/
*.egg-info/

# Desktop build artifacts
desktop/dist/
desktop/node_modules/

# OS
.DS_Store
Thumbs.db
